# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Leopards Courier API
LEOPARDS_API_KEY=
LEOPARDS_API_PASSWORD=
LEOPARDS_WEBHOOK_SECRET=

# M&P Courier API
MNP_USERNAME=
MNP_PASSWORD=
MNP_ACCOUNT_NO=
MNP_LOCATION_ID=
MNP_RETURN_LOCATION=
MNP_SUB_ACCOUNT_ID=
